
  <main>
    <div id="title-and-form">
      <div class="title-and-desc-back" id="sign-up-form-header">
        <div id="title-and-desc-holder">
          <h1 class="title">CRUK Volunteer Sign-Up</h1>
          <p class="description">Fancy becoming a volunteer? Fill in your information below and we will be in touch via email with information on future opportunities to help us.</p>
          <a href="/">
            <section id="back-button-holder">
              <button type="back-sign-up" id="back">Go back</button>
            </section>
          </a>
        </div>
        <div class="title-and-desc-overlay" id="sign-up-form-header-overlay"></div>
      </div>
      <form id="CRUK-vol-sign-in" action="/submit-vol-sign-in">
        <label for="name" id="first-name-label">First name:&nbsp;&nbsp;&nbsp;<input id="first-name" type="text" placeholder="Enter your first name" name="first-name" required></label>
        <label for="name" id="last-name-label">Last name:&nbsp;&nbsp;&nbsp;<input id="last-name" type="text" placeholder="Enter your last name" name="last-name" required></label>
        <label for="email" id="email-label-sign-up">E-mail:&nbsp;&nbsp;&nbsp;<input id="email" type="email" placeholder="Enter your e-mail" name="email" required></label>
        <label for="DOB" id="DOB-label">Date of Birth:&nbsp;&nbsp;&nbsp;<input id="DOB" type="date" placeholder="Enter your date of birth" name="DOB" required></label>
        <label for="postcode" id="postcode-label">Postcode:&nbsp;&nbsp;&nbsp;<input id="postcode" type="text" placeholder="Enter your postcode" name="postcode" required></label>
        <section id="next-button-section">
            <button type="button" id="next-button">Next</button>
          </section>
        <section id="submit-button-section">
          <button type="submit" class="animated bounce" id="submit">Complete sign up</button>
        </section>
      </form>
    </div>
  </main>

    <script>

    var clickTracker = 0;

    $("#email-label-sign-up").hide();
    $("#DOB-label").hide();
    $("#postcode-label").hide();
    $("#submit-button-section").hide();
    $('#next-button').prop('disabled', true);
    
    let firstPageCheck = setInterval(function() {
        if ($("#first-name")["0"].value.length > 2 && $("#last-name")["0"].value.length > 2) {
            $('#next-button').prop('disabled', false)
            }
        }, 500)

    let secondPageCheck = setInterval(function() {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($("#email")["0"].value)) {
            $('#next-button').prop('disabled', false) 
            }
        }, 500)

    let thirdPageCheck = setInterval(function() {
        let validDOB
        let validPostcode
        console.log(($("#DOB")["0"].validity.valid))
        console.log(($("#postcode")["0"].validity.valid))
        if (($("#DOB")["0"].validity.valid) == true && (($("#postcode")["0"].validity.valid) == true)) {
            $('#submit').prop('disabled', false) 
            }   
        }, 500)
    

    if (clickTracker == 0) {
        firstPageCheck
        $("#next-button").click(function() {
            clearInterval(firstPageCheck)
            clickTracker++
            $("#email-label-sign-up").show();
            $("#first-name-label").hide();
            $("#last-name-label").hide();
            $("#DOB-label").hide();
            $("#postcode-label").hide();
            $("#submit-button-section").hide();
            $('#next-button').prop('disabled', true);
            secondPageCheck

            $("#next-button").click(function() {
                clearInterval(secondPageCheck)
                thirdPageCheck
                $("#email-label-sign-up").hide();
                $("#DOB-label").show();
                $("#postcode-label").show();
                $("#submit-button-section").show();
                $("#submit").prop('disabled', true);
                $("#next-button-section").hide();
            })
        }
    )}

    </script>
